body {
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #F2FFFC;
    font-size: 120%;
    line-height: 1.5;
}

h1, h2 {
    font-family: "Open Sans Condensed","Arial", sans-serif;
}

main h1 {
    font-size: 60px;
    background-color: #851944;
    color: #FFFFFF;
    text-align: center;
    font-family: "Open Sans Condensed", sans-serif;
    padding: 25px;
    margin: 0;
    border-bottom: 10px solid #000000;
}

main a {
    color: #851944;
}

main div {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
}

P {
    text-align: justify;
}

blockquote, aside, footer {
    padding: 20px;
}

blockquote {
    background-color: #D9E5E3;
    border: 10px solid #C2CCCA;
    box-sizing: border-box;
    width: 250px;
    margin: 0;
}

aside {
    background-color: #3C1D3D;
    color: #F2FFFC;
}

aside a {
    color: inherit; /*Esse valor faz com que a propriedade assuma o valor que foi definido em seu pai (ou ancestral, de um modo geral) em vez de assumir um outro valor.*/
    font-family: "Open Sans Condensed", sans-serif;
    text-decoration: none;
}

aside div {
    text-align: center;
}

footer {
    background-color: #000000;
    color: #F2FFFC;
}

nav a {
    color: #F2FFFC;
}